### > Basics
/vendor/
/var/
.env.local
docker-compose.override.yaml
### < Basics

### > Lint
.php-cs-fixer.cache
### < Lint

### > Supervisor
supervisord.log
supervisord.pid
### < Supervisor

### > Files
/uploads/
/public/pdf/
### < Files
