[submodule ".boing"]
	path = .boing
	url = git@github.com:BatMaxou/boing.git
[submodule ".aatis/dependency-injection"]
	path = .aatis/dependency-injection
	url = git@github.com:BatMaxou/aatis-dependency-injection.git
	branch = develop
[submodule ".aatis/error-handler"]
	path = .aatis/error-handler
	url = git@github.com:BatMaxou/aatis-error-handler.git
	branch = develop
[submodule ".aatis/event-dispatcher"]
	path = .aatis/event-dispatcher
	url = git@github.com:BatMaxou/aatis-event-dispatcher.git
	branch = develop
[submodule ".aatis/file-manager"]
	path = .aatis/file-manager
	url = git@github.com:BatMaxou/aatis-file-manager.git
	branch = develop
[submodule ".aatis/http-foundation"]
	path = .aatis/http-foundation
	url = git@github.com:BatMaxou/aatis-http-foundation.git
	branch = develop
[submodule ".aatis/kernel"]
	path = .aatis/kernel
	url = git@github.com:BatMaxou/aatis-kernel.git
	branch = develop
[submodule ".aatis/logger"]
	path = .aatis/logger
	url = git@github.com:BatMaxou/aatis-logger.git
	branch = develop
[submodule ".aatis/options-resolver"]
	path = .aatis/options-resolver
	url = git@github.com:BatMaxou/aatis-options-resolver.git
	branch = develop
[submodule ".aatis/routing"]
	path = .aatis/routing
	url = git@github.com:BatMaxou/aatis-routing.git
	branch = develop
[submodule ".aatis/template-renderer"]
	path = .aatis/template-renderer
	url = git@github.com:BatMaxou/aatis-template-renderer.git
	branch = develop
[submodule ".aatis/tester"]
	path = .aatis/tester
	url = git@github.com:BatMaxou/aatis-tester.git
	branch = develop
[submodule ".aatis/tag"]
	path = .aatis/tag
	url = git@github.com:BatMaxou/aatis-tag.git
	branch = develop
[submodule ".aatis/parameter-bag"]
	path = .aatis/parameter-bag
	url = git@github.com:BatMaxou/aatis-parameter-bag.git
	branch = develop
